<!--Content Section-->
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">
      <div class="col-9">
          <div *ngFor="let meeting of meetings" class="meeting">
              <h3>{{meeting.name}} - {{meeting.date | date}}</h3>
              <pre>{{meeting.description}}</pre>
              <a class="button" (click)="deleteMeeting(meeting)">DELETE</a>
          </div>
      </div>

    <div class="col-3">
      <img src="../assets/images/dancer.jpg" alt="Dancer" />
    </div>

  </div>


</div>
<!--End of Content Section-->
