<!--Introduction-->
<section id="about" class="introduction scrollto">
    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>ABOUT US</h3>
                <h2 class="section-title">Get to know us better</h2>
                <p class="section-subtitle">
                    Our team is built by two very talented tattoo artists.We trust them to be as professional, yet as friendly as posible.They are eager to hear your ideas and put them into creative designs on your skin.Don't worry if you're not sure about
                    your choice.The artists will offer you honest advice and multiple design options until you're fully happy with your piece of art.
                </p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-4 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Mira Mariah</h4>
                    <p>Responsible for some of hollywood's celebrities' most iconic tats, Mira has an abstract approach to tattoo design that's totally unique from the rest. Her creations often feature women and celebrate the beauty of the female form.</p>
                </div>
            </div>
            <!--End of Icon Block-->
            <!--Icon Block-->
            <div class="col-4 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Brittany Randell</h4>
                    <p>Tiny script and intricate portraits-Brittany Randell has perfected it all.Most of her work centers around people, nature, and animals or even a combination of those things, like designs shown on our website.</p>
                </div>
            </div>
            <!--End of Icon Block-->
        </div>

    </div>
</section>
<!--End of Introduction-->